<div class="row" style="background-color: white">
  <footer>
    <div class="container" style="padding:20px">
      <div class="footerBoxCentre">
        <div class="footerBox">
          <br>
          <div class="footerBox text-center">
            <div class="boxRight2">
              <ul class="social-network social-circle">
                <li><a href="https://www.facebook.com/westcoastsoftware" target="_blank" class="icoFacebook"
                       title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href=" " target="_blank" class="icoTwitter"
                       title="Twitter"><i
                        class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
            <div class="footerbox" style="margin:0 25%">
              <p>Copyright &copy; West Coast 2015</p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </footer>
</div>