<div>
    {{main-header}}
    {{notification-list notifications=application.currentNotifications closeNotification='closeNotification'}}

</div>

<!--Navbar - Home, About and Contact. Fixed position follows user down page-->
<header id="header" role="banner">
  <!-- Navigation -->
</header>

<!--Main Body-->
<div class="container">
  <br>
  <br><br><br><br><br><br><br>
  <!--<button class="btn btn-primary btn-block btn-center" type="submit" {{action 'login'}}>-->
    <!--Sign In-->
    <!--&nbsp;-->
  <!--</button>-->


  <!--Footer containing copyright, logos and social media-->
{{main-footer}}
</div>