<!--Social Medial Circles-->


<!--Navbar - Home, About and Contact. Fixed position follows user down page-->
<header id="header" role="banner">
  <!-- Navigation -->
  {{main-header}}
</header>

<!--Main Body-->
<div class="container">




  <!--Footer containing copyright, logos and social media-->
{{main-footer}}
</div>